body{
	font-family: arial;
	font-size: 12px;
}
.wrapper{
	width: 100%;
	margin: auto auto;
}
	.left-form,
	.right-form{
		float: left;
		width: 40%;
	}
	.left-form{
		padding-right: 20px;
		padding-left: 120px;
	}
	.right-form{
		padding-left: 20px;
	}
	.left-form div,
	.right-form div{
		padding-top: 10px;
	}
		.background{
		background-color: #dfe5ef;
		display: block;
		padding: 2px 0 2px 10px;
		color:#000066;
		margin-bottom: 10px;
		margin-top: 10px;
		}		
		label{
			width: 20%;
			float:left;
			text-align: right;
			padding-right: 10px;
		}
		input{
			width: 150px;
			color:#610083;
		}
		select{
			color:#610083;
		}
		.width1{
			width:40px;
			padding-left: 0;
		}
		.width2{
			width: 50px;
			margin-top: -4px;
		}
		.position{
			width: 10px;
		}
		.width3{
			width: 70px;
		}
		.width4{
			width: 90px;
		}
		.width6{
			width: 100px;
		}
		.confirm{
			width:45%;
			padding-right: 0;
			padding-left:0px; 
			text-align: left;
			color:#610083;
			float: none;
		}
		.width5{
			width: 20px;
		}
		.margin{
			margin-top: -5px;
		}
		.button{
			width: 120px;
			border-right:3px solid #75736e;
			border-bottom: 3px solid #75736e;
			border-top: 3px solid #f2f0ee;
			border-left:3px solid #f2f0ee;
			margin-top: 5px;
			color:#610083;
		}
		.paddingtop3{
			padding-left: 0px;
			padding-top: 3px;
		}
		.margintop{
			margin-top: 20px;
		}
		.width100{
			width: 100%
		}
		.inline{
			padding-right: 10px;
		}
		.inline label,
		.inline input{
			display: inline;
			float: none;
		}
		.inline input{
			padding-top: 10px;
		}
		
		
